@charset "UTF-8";

.markdown-body {
  box-sizing: border-box;

  margin: 0 auto;
  font-size: 10px;
  line-height: 1.3;
  font-family : arial, Meiryo, メイリオ, sans-serif;
}
.markdown-body h1 {
  padding-bottom: 0.2em;
  font-size: 2.0em;
  line-height: 1.25;
  border-bottom: 1px solid #FBF4F0;
}
.markdown-body #main_title {
  border-top: 5px solid #FBF4F0;
  border-bottom: 5px solid #FBF4F0;
  padding: .5em;
}

.markdown-body p {
  font-size: 16px;
  line-height: 1.5;
}
